@mixin texto-rojo-importante {
  font-size: 4rem;
  background-color: $pikachu;
  font-weight: 700;
  color: $danger;
}

@mixin reset-list {
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    };
  }
}

@mixin caja ($box-height, $box-width, $color) {
  background-color: $bg-color;
  display: inline-block;
  height: $box-height;
  width: $box-width;
  background-color: $color;
}